/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--pico-form-element-background-color);
  font-size: 14px;
}

svg {
  cursor: pointer;
}

input {
  margin-bottom: 0px;
}

input:not([type="checkbox"], [type="radio"]) {
  margin-bottom: 0px;
}

article > header {
  @apply flex justify-between items-center;
}

.icon-button {
  @apply size-10 fill-[var(--pico-color)];
}

.icon-in-button {
  @apply size-5;
}

.icon-text {
  @apply size-5 mr-2;
}
