/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary: #ff1493;
  --pico-primary-background: #ff1493;
  --pico-primary-underline: rgba(255, 20, 147, 0.5);
  --pico-primary-hover: #ff007f;
  --pico-primary-hover-background: #ff1493;
  --pico-primary-focus: rgba(255, 20, 147, 0.5);
  --pico-primary-inverse: #fff;
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(255, 20, 147, 0.1875);
    --pico-primary: #ff1493;
    --pico-primary-background: #ff1493;
    --pico-primary-underline: rgba(255, 20, 147, 0.5);
    --pico-primary-hover: #ff007f;
    --pico-primary-hover-background: #ff1493;
    --pico-primary-focus: rgba(255, 20, 147, 0.375);
    --pico-primary-inverse: #fff;
  }
}

/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-text-selection-color: rgba(255, 20, 147, 0.1875);
  --pico-primary: #ff1493;
  --pico-primary-background: #ff1493;
  --pico-primary-underline: rgba(255, 20, 147, 0.5);
  --pico-primary-hover: #ff007f;
  --pico-primary-hover-background: #ff1493;
  --pico-primary-focus: rgba(255, 20, 147, 0.375);
  --pico-primary-inverse: #fff;
}
